/*默认颜色*/
.left_top_image {background: #1e7bcd;}
.left_list ul li.hover {background-color: #35404d;}
.left_list ul li:hover {background-color: #35404d;color: #fff;}
.footer {background: #5b6e84;}
.left_list ul li.left_index {
	background: url(../images/l_moren_hover.png) 6px 0px no-repeat;
	background-size: 40px 500px;
	}
.left_list ul li.left_index.hover {
	background: url(../images/l_moren.png) 6px 0px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_index:hover {
	background: url(../images/l_moren.png) 6px 0px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}

.left_list ul li.left_qytp {
	background: url(../images/l_moren_hover.png) 6px -45px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_qytp.hover {
	background: url(../images/l_moren.png) 6px -45px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_qytp:hover {
	background: url(../images/l_moren.png) 6px -45px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_yqgz {
	background: url(../images/l_moren_hover.png) 6px -90px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_yqgz.hover {
	background: url(../images/l_moren.png) 6px -90px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_yqgz:hover {
	background: url(../images/l_moren.png) 6px -90px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_gpdb {
	background: url(../images/l_moren_hover.png) 6px -135px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_gpdb.hover {
	background: url(../images/l_moren.png) 6px -135px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_gpdb:hover {
	background: url(../images/l_moren.png) 6px -135px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_gpph {
	background: url(../images/l_moren_hover.png) 6px -180px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_gpph.hover {
	background: url(../images/l_moren.png) 6px -180px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_gpph:hover {
	background: url(../images/l_moren.png) 6px -180px no-repeat;
	background-size: 40px 500px;
	background-color: #5bc0de;
}
.left_list ul li.left_qydt {
	background: url(../images/l_moren_hover.png) 6px -225px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_qydt.hover {
	background: url(../images/l_moren.png) 6px -225px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_qydt:hover {
	background: url(../images/l_moren.png) 6px -225px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_qybg {
	background: url(../images/l_moren_hover.png) 6px -270px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_qybg.hover {
	background: url(../images/l_moren.png) 6px -270px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_qybg:hover {
	background: url(../images/l_moren.png) 6px -270px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_dwxg {
	background: url(../images/l_moren_hover.png) 6px -315px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_dwxg.hover {
	background: url(../images/l_moren.png) 6px -315px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_dwxg:hover {
	background: url(../images/l_moren.png) 6px -315px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_gjfx {
	background: url(../images/l_moren_hover.png) 6px -360px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_gjfx.hover {
	background: url(../images/l_moren.png) 6px -360px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_gjfx:hover {
	background: url(../images/l_moren.png) 6px -360px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_sjk {
	background: url(../images/l_moren_hover.png) 6px -405px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_sjk.hover {
	background: url(../images/l_moren.png) 6px -405px no-repeat;
	background-size: 40px 500px;
   background-color: #35404d;

}
.left_list ul li.left_sjk:hover {
	background: url(../images/l_moren.png) 6px -405px no-repeat;
	background-size: 40px 500px;
	background-color: #5bc0de;
}
.left_list ul li.left_xmdt {
	background: url(../images/l_moren_hover.png) 6px -450px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_xmdt.hover {
	background: url(../images/l_moren.png) 6px -450px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_xmdt:hover {
	background: url(../images/l_moren.png) 6px -450px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_list ul li.left_index,.left_list ul li.left_index.hover,.left_list ul li.left_index:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_index,.left_nav.close .left_list ul li.left_index.hover,.left_nav.close .left_list ul li.left_index:hover{ background-position-x: 6px;}

.left_list ul li.left_qytp,.left_list ul li.left_qytp.hover,.left_list ul li.left_qytp:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_qytp,.left_nav.close .left_list ul li.left_qytp.hover,.left_nav.close .left_list ul li.left_qytp:hover{ background-position-x: 6px;}

.left_list ul li.left_yqgz,.left_list ul li.left_yqgz.hover,.left_list ul li.left_yqgz:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_yqgz,.left_nav.close .left_list ul li.left_yqgz.hover,.left_nav.close .left_list ul li.left_yqgz:hover{ background-position-x: 6px;}

.left_list ul li.left_gpdb,.left_list ul li.left_gpdb.hover,.left_list ul li.left_gpdb:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_gpdb,.left_nav.close .left_list ul li.left_gpdb.hover,.left_nav.close .left_list ul li.left_gpdb:hover{ background-position-x: 6px;}

.left_list ul li.left_gpph,.left_list ul li.left_gpph.hover,.left_list ul li.left_gpph:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_gpph,.left_nav.close .left_list ul li.left_gpph.hover,.left_nav.close .left_list ul li.left_gpph:hover{ background-position-x: 6px;}

.left_list ul li.left_qydt,.left_list ul li.left_qydt.hover,.left_list ul li.left_qydt:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_qydt,.left_nav.close .left_list ul li.left_qydt.hover,.left_nav.close .left_list ul li.left_qydt:hover{ background-position-x: 6px;}

.left_list ul li.left_dwxg,.left_list ul li.left_dwxg.hover,.left_list ul li.left_dwxg:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_dwxg,.left_nav.close .left_list ul li.left_dwxg.hover,.left_nav.close .left_list ul li.left_dwxg:hover{ background-position-x: 6px;}

.left_list ul li.left_gjfx,.left_list ul li.left_gjfx.hover,.left_list ul li.left_gjfx:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_gjfx,.left_nav.close .left_list ul li.left_gjfx.hover,.left_nav.close .left_list ul li.left_gjfx:hover{ background-position-x: 6px;}

.left_list ul li.left_sjk,.left_list ul li.left_sjk.hover,.left_list ul li.left_sjk:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_sjk,.left_nav.close .left_list ul li.left_sjk.hover,.left_nav.close .left_list ul li.left_sjk:hover{ background-position-x: 6px;}

.left_list ul li.left_qybg,.left_list ul li.left_qybg.hover,.left_list ul li.left_qybg:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_qybg,.left_nav.close .left_list ul li.left_qybg.hover,.left_nav.close .left_list ul li.left_qybg:hover{ background-position-x: 6px;}

.left_list ul li.left_xmdt,.left_list ul li.left_xmdt.hover,.left_list ul li.left_xmdt:hover{ background-position-x: 18px;}
.left_nav.close .left_list ul li.left_xmdt,.left_nav.close .left_list ul li.left_xmdt.hover,.left_nav.close .left_list ul li.left_xmdt:hover{ background-position-x: 6px;}

/*资讯数据left*/
.left_list ul li.left_newsanb {
	background: url(../images/zixunleft.png) 20px 8px no-repeat;
	background-size: 40px 500px;
}

.left_list ul li.left_newsanb.hover {
	background: url(../images/zixunlefthover.png) 20px 8px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_newsanb:hover {
	background: url(../images/zixunlefthover.png) 20px 8px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newsanb,
.left_nav.close .left_list ul li.left_newsanb:hover,
.left_nav.close .left_list ul li.left_newsanb.hover{background-position-x: 6px;}

.left_list ul li.left_newgongs {
	background: url(../images/zixunleft.png) 20px -40px no-repeat;
	background-size: 40px 500px;
}

.left_list ul li.left_newgongs.hover {
	background: url(../images/zixunlefthover.png) 20px -40px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_newgongs:hover {
	background: url(../images/zixunlefthover.png) 20px -40px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newgongs,
.left_nav.close .left_list ul li.left_newgongs:hover,
.left_nav.close .left_list ul li.left_newgongs.hover{background-position-x: 6px;}

.left_list ul li.left_newtzr {
	background: url(../images/zixunleft.png) 20px -88px no-repeat;
	background-size: 40px 500px;
}

.left_list ul li.left_newtzr.hover {
	background: url(../images/zixunlefthover.png) 20px -88px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_newtzr:hover {
	background: url(../images/zixunlefthover.png) 20px -88px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newtzr,
.left_nav.close .left_list ul li.left_newtzr:hover,
.left_nav.close .left_list ul li.left_newtzr.hover{background-position-x: 6px;}


.left_list ul li.left_newzjjg {
	background: url(../images/zixunleft.png) 20px -137px no-repeat;
	background-size: 40px 500px;
}

.left_list ul li.left_newzjjg.hover {
	background: url(../images/zixunlefthover.png) 20px -137px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_newzjjg:hover {
	background: url(../images/zixunlefthover.png) 20px -137px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newzjjg,
.left_nav.close .left_list ul li.left_newzjjg:hover,
.left_nav.close .left_list ul li.left_newzjjg.hover{background-position-x: 6px;}


.left_list ul li.left_newtrzsj {
	background: url(../images/zixunleft.png) 20px -186px no-repeat;
	background-size: 40px 500px;
}

.left_list ul li.left_newtrzsj.hover {
	background: url(../images/zixunlefthover.png) 20px -186px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;

}
.left_list ul li.left_newtrzsj:hover {
	background: url(../images/zixunlefthover.png) 20px -186px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newtrzsj,
.left_nav.close .left_list ul li.left_newtrzsj:hover,
.left_nav.close .left_list ul li.left_newtrzsj.hover{background-position-x: 6px;}


.left_list ul li.left_newzxg {
	background: url(../images/rzfx.png) 20px -89px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_newzxg.hover {
	background: url(../images/rzfxhover.png) 20px -89px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_newzxg:hover {
	background: url(../images/rzfxhover.png) 20px -89px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newzxg,
.left_nav.close .left_list ul li.left_newzxg:hover,
.left_nav.close .left_list ul li.left_newzxg.hover{background-position-x: 6px;}

.left_list ul li.left_newrzfx {
	background: url(../images/rzfx.png) 20px 7px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_newrzfx.hover {
	background: url(../images/rzfxhover.png) 20px 7px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_newrzfx:hover {
	background: url(../images/rzfxhover.png) 20px 7px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newrzfx,
.left_nav.close .left_list ul li.left_newrzfx:hover,
.left_nav.close .left_list ul li.left_newrzfx.hover{background-position-x: 6px;}

.left_list ul li.left_newtrgxfx {
	background: url(../images/rzfx.png) 20px -40px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_newtrgxfx.hover {
	background: url(../images/rzfxhover.png) 20px -40px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_newtrgxfx:hover {
	background: url(../images/rzfxhover.png) 20px -40px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newtrgxfx,
.left_nav.close .left_list ul li.left_newtrgxfx:hover,
.left_nav.close .left_list ul li.left_newtrgxfx.hover{background-position-x: 6px;}


.left_list ul li.left_newhyphfx {
	background: url(../images/rzfx.png) 20px -88px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_newhyphfx.hover {
	background: url(../images/rzfxhover.png) 20px -88px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_newhyphfx:hover {
	background: url(../images/rzfxhover.png) 20px -88px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newhyphfx,
.left_nav.close .left_list ul li.left_newhyphfx:hover,
.left_nav.close .left_list ul li.left_newhyphfx.hover{background-position-x: 6px;}


.left_list ul li.left_newdyfx {
	background: url(../images/rzfx.png) 20px -138px no-repeat;
	background-size: 40px 500px;
}
.left_list ul li.left_newdyfx.hover {
	background: url(../images/rzfxhover.png) 20px -138px no-repeat;
	background-size: 40px 500px;
    background-color: #35404d;
}
.left_list ul li.left_newdyfx:hover {
	background: url(../images/rzfxhover.png) 20px -138px no-repeat;
	background-size: 40px 500px;
	background-color: #35404d;
}
.left_nav.close .left_list ul li.left_newdyfx,
.left_nav.close .left_list ul li.left_newdyfx:hover,
.left_nav.close .left_list ul li.left_newdyfx.hover{background-position-x: 6px;}




 @media only screen and (min-width: 1601px) and (max-width: 2000px) {
.left_nav {background: #2a3542;}
}
 @media only screen and (min-width: 100px) and (max-width: 1600px) {
.left_nav {background: #2a3542;}
}